
.item-box-shop{
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    margin: 5px;
    padding: 8px;
}
.item-container a:hover{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.item-box-shop:hover .item-image-shop{
    object-fit: scale-down;
}
.item-image-shop{
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: 1s ease-in-out;
    
}

.item-box-shop h2{
    font-weight: 600;
    font-size: 20px;
    margin: 2px;
}
.item-box-shop h3{
    font-weight: 300;
    font-size: 16px;
    margin: 2px;
}
.item-box-shop h4{
    font-weight: 100;
    font-size: 10px;
    margin: 2px;
}
.price-shop{
    text-align: right;
    margin-top: -5px;
    font-weight: 600;
}